<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>

	#user-link-home {
		color:green;
		font-size: 80%;
	}

	.btn-default {
		border:1px solid grey;
	}

	a {
		margin-right:10px;
		font-weight: bold;
	}

	#locations {
		margin-right:0px;
		margin-bottom: 5px;
		color: black;
		font-weight: bold;
		font-weight: normal;
	}

	label {
		min-width: 100px;
	}

	h1 a {
		font-weight: normal;
	}

	#profile-element {
		border: 1px solid grey;
		border-radius: 5px;
		margin-bottom: 15px;
	}

	#ingredients {
		margin-right:4px;
		padding:3px 3px 3px 3px;
		background-color: #ccc;
		border-radius: 5px;
		color: black;
		font-weight: normal;
	}

	#home-ing {
		color: black;
		background-color: #ccc;
		padding: 1px;
		font-weight: normal;
		border-radius: 5px;
		margin-right:0px;
	}

</style>